May 2nd Lecture 3

In [15]:
x=5
y=5
if x>y:
    print("X Greater")
if x==0:
    print("X is Zero ")
elif y==0:
    print("Y ix Zero")
elif x==y:
    print("X and Y are Equal")
else:
    print("X Smaller")
print("IF ELSE COMPLETED")

X and Y are Equal
IF ELSE COMPLETED

In [17]:
i=1
while i<=5:
    print(i)
    i+=1
print("Finished")

1
2
3
4
5
Finished

In [21]:
Letters = ['A','B','C','D','E']
Letters[-1]

'E'

In [23]:
a = [1, 0, 0, 5]
a

[1, 0, 0, 5]

      c0...
    r0 1 0 1 
    r1 0 1 0
    r2 1 1 10

In [25]:
b = [[1,0,1],[0,1,0],[1,1,10]]
b

[[1, 0, 1], [0, 1, 0], [1, 1, 10]]

In [27]:
#b[nrow][ncol]
b[2][2]

10

In [28]:
World= ['New Zealand', 'Brazil', 'Greenland']
print(World)

['New Zealand', 'Brazil', 'Greenland']

In [36]:
"Green" not in World[1]

True

In [46]:
nums =[1,2,3,4,5,6,7,8,9]
len(nums)

9

In [38]:
max(nums)

9

In [39]:
type(nums)

list

In [44]:
#append and extend
nums.extend([10,11,12])
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [45]:
nums.clear()
nums

[]

In [47]:
nums.count(6)

1

In [49]:
nums.index(5)

4

In [50]:
nums.insert(5,500)
nums

[1, 2, 3, 4, 5, 500, 6, 7, 8, 9]

In [53]:
nums.pop()
nums.pop()

7

In [54]:
nums

[1, 2, 3, 4, 5, 500, 6]

In [55]:
nums.remove(500)
nums

[1, 2, 3, 4, 5, 6]

In [56]:
nums.reverse()
nums

[6, 5, 4, 3, 2, 1]

In [57]:
nums.sort()

In [58]:
nums

[1, 2, 3, 4, 5, 6]

In [61]:
nums.sort(reverse=True)
nums

[6, 5, 4, 3, 2, 1]

In [66]:
x =list(range(5,50,5))
print(x)

[5, 10, 15, 20, 25, 30, 35, 40, 45]

- iteration -- no. of rounds in a loop
- iterable -- list/tuple/sets on which your loop is iterating 
- iterator -- i

In [75]:
index=0
for i in x:
    print(i, end='||')

5||10||15||20||25||30||35||40||45||

In [79]:
while False:
    x=0

In [13]:
def my_func(x,y):
    print("From Inside the Function Body",x,' and ',y)
    return x,y
output = my_func(50,100)
print("O/P: ",output[0],output[1])

From Inside the Function Body 50  and  100
O/P:  50 100

In [12]:
list(output)

[50, 100]

In [17]:
import statistics as stat

In [19]:
l=[1,2,3,4]
stat.mean(l)

2.5

In [21]:
stat.median(l)

2.5

In [22]:
stat.variance(l)

1.6666666666666667

In [23]:
stat.stdev(l)

1.2909944487358056

In [24]:
import numpy as np

In [25]:
import matplotlib.pyplot as plt

In [27]:
raise ValueError("Invalid Value")

ValueError: Invalid Value

__ASSIGNMENTS__
Q1. Print a simple calculator
Q2. Raise Negative Value Error